<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test page</title> 
     <!--引入CSS样式表-->
    <link rel="stylesheet" href="styles.css" type="text/css">
    <!-- 引入 ECharts和jquery 文件 以CDN方式引入-->    
    <script src="https://cdn.bootcss.com/echarts/4.0.4/echarts-en.common.js"></script>    
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>

<body>
    <h1 style="text-align: center">Just a test chart</h1>
    <div id="full">
        <div id="div-choose" class="div-choose">
            <h3 style="text-align: center">选择时间段</h3>
            <td>年：</td>
            <select id="year-begin" >
                <% year.forEach(function(y) { %>
                    <option value=<%= y %>><%= y %></option>
                <% }) %>
            </select>
            <td>-</td>
            <select id="year-end">
                <% year.forEach(function(y) { %>
                    <option value=<%= y %>><%= y %></option>
                <% }) %>
            </select>
            <br>
            <td>月：</td>
            <select id="month-begin" >
                <% month.forEach(function(mon) { %> 
                   <option value=<%= mon %>><%= mon %></option> 
                <% }) %>
            </select>
            <td>-</td>
            <select id="month-end" >
                <% month.forEach(function(mon) { %>
                    <option value=<%= mon %>><%= mon %></option>  
                <% }) %>
            </select>
            <br>
            <td>日：</td>
            <select id="day-begin" >
                <% day.forEach(function (d) { %>
                    <option value=<%= d %>><%= d %></option>
                <% }) %>
            </select>
            <td>-</td>
            <select id="day-end">
                <% day.forEach(function (d) { %>
                    <option value=<%= d %>><%= d %></option>
                <% }) %>
            </select>
            <br>
            <script src="prepare.js"></script>
            <div style="margin-top: 30px">
                <button id="confirm" type="submit" onclick="paint()" >确认</button>
                <button id="download" type="button" onclick="download()" style="visibility: hidden">下载数据</button>
            </div>
        </div>
        <!--为画幅准备div容器-->
        <div id="div-chart" class = "div-chart"></div>
        <script type="text/javascript" src="draw.js"></script>
        <script>
        </script>
    </div>
</body>
</html>